package template

templ app() {
  <!DOCTYPE html>
	<html>
		<head>
			<title>Go WebAssembly</title>
		</head>
		<body style="background-color: #169790;">
			<h1>Go WebAssembly</h1>
		</body>
	</html>
}