package template

templ logoImage(base64ImageData string) {
  <img width="600px" src={"data:image/png;base64," + base64ImageData} alt="Site Logo" style="padding-top: 50px; position: absolute; right: 0; transform: rotate(20deg);" />
}